:root {
  --color-accent: #f14f4f; }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) + .custom-checkbox__content::before {
  outline: none; }

@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroBook.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/IntroBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

*:focus:not(.focus-visible) {
  outline: none; }

body {
  margin: 0;
  font-family: "Intro", sans-serif;
  background-color: #fff; }

html,
body {
  height: 100%; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%; }

.main {
  flex: 1 1 auto; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 576px) {
    .for-mobile {
      display: block; } }

.btn-reset {
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: calc(1180px + 15px * 2); }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px; }
  @media (max-width: 576px) {
    .grid {
      grid-template-columns: repeat(4, 1fr); } }

.btn {
  border-radius: 4px;
  padding: 22px 47px;
  font: 600 16px/140% "Intro", sans-serif;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
  .btn_primary {
    color: #fff;
    background-color: #f14f4f; }
    .btn_primary:hover {
      background-color: #cc4949; }
    .btn_primary:active {
      background-color: #b64141; }
    .btn_primary:disabled {
      background-color: #444b58;
      opacity: 0.7;
      pointer-events: none; }
  .btn_secondary {
    color: #fff;
    background-color: #444b58; }
    .btn_secondary:hover {
      background-color: #31343c; }
    .btn_secondary:active {
      background-color: #2b2e35; }
  .btn_thirdly {
    border: 1px solid #444b58;
    padding: 13px 41px;
    color: #444b58;
    background-color: transparent; }
    .btn_thirdly:hover {
      color: #fff;
      background-color: #444b58; }
    .btn_thirdly:active {
      color: #fff;
      background-color: #2b2e35; }

.btn_primary.focus-visible {
  background-color: #cc4949; }

.btn_secondary.focus-visible {
  background-color: #31343c; }

.btn_thirdly.focus-visible {
  color: #fff;
  background-color: #444b58; }

.title {
  margin: 0;
  font: 700 30px/140% "Intro", sans-serif;
  color: #444b58; }

.custom-checkbox {
  position: relative; }
  .custom-checkbox__field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute; }
  .custom-checkbox__content {
    padding-left: 25px;
    cursor: pointer; }
    .custom-checkbox__content::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #000;
      width: 15px;
      height: 15px;
      box-sizing: border-box; }
    .custom-checkbox__content::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='fi_32282' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='405.272px' height='405.272px' viewBox='0 0 405.272 405.272' style='enable-background:new 0 0 405.272 405.272;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836 c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064 c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
      background-position: center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
  .custom-checkbox__content {
    padding-left: 35px;
    font: 400 16px/140% "Intro", sans-serif;
    color: #444b58; }
    .custom-checkbox__content::before {
      top: -1px;
      border-color: #dbbba9;
      border-radius: 4px;
      width: 24px;
      height: 24px; }
    .custom-checkbox__content::after {
      top: -1px;
      width: 24px;
      height: 24px;
      background-image: url("../img/check.svg");
      background-size: 15px 12px;
      transition: opacity 0.2s ease-in-out; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline-color: initial; }

.quiz-question__answer.error + .custom-checkbox__content::before {
  border: 2px #f14f4f solid; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: none;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

.tooltip {
  position: relative;
  margin-left: 10px; }

.tooltip__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  background-color: #fff; }
  .tooltip__btn svg {
    width: 6px;
    height: 10px; }
  .tooltip__btn.focus-visible {
    outline: 1px solid currentColor;
    outline-offset: 1px; }

.tooltip__txt {
  position: absolute;
  left: -11px;
  bottom: calc(100% + 14px);
  z-index: 3;
  border-radius: 4px;
  padding: 10px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 426px;
  box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  font: 400 14px/140% "Intro", sans-serif;
  letter-spacing: initial;
  text-transform: initial;
  color: #444b58;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out; }
  .tooltip__txt::after {
    content: "";
    position: absolute;
    left: 13px;
    bottom: -8px;
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: #fff transparent transparent;
    border-radius: 4px;
    width: 0;
    height: 0; }
    @media (max-width: 576px) {
      .tooltip__txt::after {
        left: 0;
        right: 0;
        margin: 0 auto; } }
  @media (max-width: 576px) {
    .tooltip__txt {
      left: -130px;
      max-width: 280px; } }

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); }

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); }

.input {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  font: 400 16px/140% "Intro", sans-serif;
  color: #444b58;
  background-color: #fff; }
  .input::-moz-placeholder {
    color: #b2b5bb; }
  .input:-ms-input-placeholder {
    color: #b2b5bb; }
  .input::placeholder {
    color: #b2b5bb; }
  .input.focus-visible {
    outline: 2px solid #31343c;
    outline-offset: -4px; }
  @media (max-width: 576px) {
    .input {
      font-size: 14px; } }

.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; }

.js-validate-error-label {
  order: -1; }

.anchor {
  position: absolute;
  top: -70px;
  height: 70px; }
  @media (max-width: 810px) {
    .anchor {
      top: -50px;
      height: 50px; } }

/*# sourceMappingURL=global.css.map */
