*,
*::before,
*::after {
  box-sizing: border-box;
}

.d-none {
  /* visibility: hidden; */
  display: none !important;
}

header {
  position: fixed;
  /* background-color: rgba(255, 255, 255, 0.95); */
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  padding: 15px 0;
  width: 100%;
  min-height: 48px;
  z-index: 1;
  font-size: 16px;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
}

main {
  padding-top: 48px;
}

.container {
  max-width: 915px;
  padding: 0 15px;
  margin: 0 auto;
}

.control {
  font-size: 14px;
  margin-bottom: 30px;
}

.control-item button {
  margin-top: 0.5em;
}

.tiles {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(
    auto-fill,
    88px
  ); /* 1035 (1200 - 15 * 9 - 15 * 2) */
  margin-bottom: 30px;
  justify-content: center;
}

.history__tiles {
  margin-top: 30px;
  grid-auto-flow: dense;
}

.tile {
  text-align: center;
  width: 88px;
  position: relative;
}

.tile-clickable {
  border-radius: 4%;
}

.tile--selected .tile-clickable {
  background-color: rgb(205 224 109);
}

.tile--last::after {
  content: "";
  position: absolute;
  left: 0;
  /* top: -4px;
  width: 100%;
  height: calc(100% + 4px); */
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #00be00;
  pointer-events: none;
  border-radius: 4%;
}

.tile-clickable {
  cursor: pointer;
  user-select: none;
}

.tile-probabilities__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tile-probability {
  color: rgb(114, 172, 0);
  font-size: 13px;
}

.tooltip::before {
  content: "*";
  position: absolute;
  left: 0;
}

.tooltip {
  position: relative;
  padding-left: 0.66em;
}

.tooltip-tile-probability-you {
  color: green;
}

.tooltip-tile-probability {
  color: rgb(114, 172, 0);
}

.tile-probability-you {
  color: green;
  font-size: 16px;
}

.top-probabilities {
  display: flex;
  position: relative;
}

.summed-probability {
  color: rgb(114, 172, 0);
  font-size: 13px;
  margin-right: 0.33em;
  align-self: center;
}

.summed-probability-you {
  color: green;
}

.top-probabilities::after {
  content: attr(data-after);
  position: absolute;
  font-size: 12px;
  right: 0;
  bottom: -1em;
  width: max-content;
  color: #000;
}

.tile--over,
.tile--over .tile-probability {
  color: #9c9c9c;
}

.tile--over .tile-clickable {
  cursor: auto;
}

/* .tile--over img {
  filter: grayscale(100%);
} */

.tile--over .tile-image {
  filter: grayscale(1);
}

.italic {
  font-style: italic;
}

h5 {
  margin: 0 0 10px;
}

.control-item + .control-item {
  margin-top: 0.5em;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile-image {
  width: 88px;
  height: 88px;
  border-radius: 4%;
}

.first_edition {
  background-image: url(../img/tiles/tiles_first_edition.png);
  background-size: 2300% 400%;
}

.tile-image--D {
  background-position: 68.1818% 0%;
}
.tile-image--U {
  background-position: 77.2727% 0%;
}
.tile-image--V {
  background-position: 90.9091% 0%;
}
.tile-image--M {
  background-position: 13.6364% 0%;
}
.tile-image--E {
  background-position: 45.4545% 0%;
}
.tile-image--B {
  background-position: 4.54545% 33.3333%;
}
.tile-image--P {
  background-position: 18.1818% 0%;
}
.tile-image--O {
  background-position: 22.7273% 0%;
}
.tile-image--N {
  background-position: 9.09091% 0%;
}
.tile-image--J {
  background-position: 59.0909% 0%;
}
.tile-image--L {
  background-position: 63.6364% 0%;
}
.tile-image--G {
  background-position: 27.2727% 0%;
}
.tile-image--A {
  background-position: 9.09091% 33.3333%;
}
.tile-image--R {
  background-position: 18.1818% 33.3333%;
}
.tile-image--K {
  background-position: 54.5455% 0%;
}
.tile-image--F {
  background-position: 31.8182% 0%;
}
.tile-image--H {
  background-position: 40.9091% 0%;
}
.tile-image--W {
  background-position: 100% 0%;
}
.tile-image--C {
  background-position: 13.6364% 33.3333%;
}
.tile-image--Q {
  background-position: 22.7273% 33.3333%;
}
.tile-image--X {
  background-position: 0% 33.3333%;
}
.tile-image--I {
  background-position: 36.3636% 0%;
}
.tile-image--S {
  background-position: 4.54545% 0%;
}
.tile-image--T {
  background-position: 0% 0%;
}
